<div class="container-fluid py-5" id="device-section">
  <div class="row g-4">
    <div
      class="col-lg-4 col-md-6"
      *ngFor="let item of devices | async; trackBy: trackById"
    >
      <div class="card h-100 shadow-sm border-0 rounded-lg text-center">
        <div class="card-body">
          <h5 class="card-title mb-3">{{ item.name }}</h5>
          <div class="d-grid gap-2">
            <button
              type="button"
              class="btn btn-primary btn-gradient"
              (click)="renameDevice(item.id, item.name)"
            >
              Rename Device
            </button>
            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="removeDevice(item.id)"
            >
              Remove Device
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
